<h1>Events</h1>

<p>Displaying <%= @selected_events.size %> events of <%= @ranked_events.size %> total using threshold <%= @threshold %></p>

<%= render partial: "event", collection: @selected_events %>

<% if @selected_events.size < @ranked_events.size %>

<p><%= (@ranked_events.size - @selected_events.size) %> events below current threshold of <%= @threshold %>
  <%= link_to("See all events", calaview_path(:threshold => -9999999)) %></p>
<% end %>

